<!--The content below is only a placeholder and can be replaced.-->
<div id="t1" class="container" style="text-align:center">
  <h2 >MAESTRO DE TIPOS DE DOCUMENTOS </h2>
<button type="button" class="btn btn-primary">NUEVO TIPO DE DOCUMENTOS</button>
</div>

<div class="container">
     <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col-2">Codigo</th>
      <th scope="col-8">Nombre</th>
      <th scope="col-2">Editar?</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>prueba de ser creativo</td>
      <td><button type="button" class="btn btn-success">Editar</button></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>prueba de ser creativo 001</td>
      <td><button type="button" class="btn btn-success">Editar</button></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>prueba de ser creativo 002</td>
      <td><button type="button" class="btn btn-success">Editar</button></td>
    </tr>
  </tbody>
</table>
</div>

